$font: 'IBM Plex Mono', monospace;
$rosa: #fde2da;

.box {
    display: flex;
    width: 70%;
    font-family: $font;
    font-size: 12px;
    border-top: 1px solid grey;

    img {
        width: 230px;
        height: 150px;
        border-radius: 50px;
        padding: 20px;
    }

    .description {
        width:45%;
        padding: 20px;
        color: grey;

        h3 {
            color: #000000;
            padding: 5px;
        }  
    
        a { 
            text-decoration:none;
            color: #000000;
            background-color: $rosa;
            border-radius: 10px;
            display: inline-block;
            padding: 5px 30px;
        }

        .info {
            display: flex;
            justify-content: space-between;
        } 
    }   
}

footer {
    padding: 10px;
    color: grey;
    font-family: $font;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    
}
$naranja: #fa7855 ;
body {
    margin: 0;
    
    
}
/* */
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .h1{
        font-family: "Indie Flower", cursive;
        color:#FF7F50;
        font-size:50px;
        
    }
    
}

.dropdown {
    display: none;
    list-style: none;
    background-color:#F2F3F4 ;
    padding: 10px; 
    position: absolute;
    z-index: 1;
}

ul .platos:hover .dropdown{
    display: block;

}

.nav{
    display: flex;
    justify-content: center;
    .list{
        display: flex;
        width: 50%;
        justify-content: space-around;
        font-family: "IBM Plex Mono", monospace;
        color: #666;
        list-style: none;
            select{
              border: none;
              font-family: "IBM Plex Mono", monospace;
               color: #666;
              
          }
  }

}
a{
    text-decoration: none;
    color: #666;
}

a:hover{
    color:#FF7F50;
    
}

li:hover{
    color:#FF7F50;

}

.platos-menu{
    font-family: "IBM Plex Mono", monospace;
    list-style: none;
    
}

.main-menu{
    display: flex;
    margin-right: 15%;
    margin-left: 15%;
}

.menu{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    
}

.button-link{
    position: absolute;
    background-color: white;
    border-radius: 25px;
    border: none;
    padding: 8px 60px;
}

.button-link:hover{
    background-color:#FF7F50;
}


.image-menu{
    width: 96%;
    height: auto;
}

.image-menu img{
    width: 100%;
    border-radius: 30%;

}
/* */

/* CAROUSEL */
.carousel {
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    .img { 
        overflow: hidden;
        position: relative;
        align-items: center;
        margin: 1px;
        img {
            height: 100%;
            width: 100%;
        }
    }
}
.img:hover {
    .slider {
        transform:translateY(-100%);
        position: absolute;
        width: 100%;
    }
}
.slider {
    position:absolute;
    top: 100%;
    width: 100%;
    transition: transform 250ms;
    vertical-align: bottom;    
    span {
        display:block;
        background-color: rgba(250, 120, 85, 0.5);
        color: white;
        font-family: "IBM Plex Mono", monospace;
        padding: 5%;
        font-size: 10px;
    }
}
/* FIN CAROUSEL */
/* CONTENIDO RECETA */
.container-recipe {
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    justify-content: center;
    color: gray ;
}
article {
    width: 45%;
    font-size: 15px;
    .recipe-header {
        h2 {
            padding: 0 2%;
            color: black;
        }
        .header-top {
            display: flex;
            justify-content: space-between;
        }
    }
    .citation {
        border-left: $naranja solid 1px;
        margin: 5% 0;
        padding: 0 4%;
        p {
            color: black;
        }
        span {
            text-transform: uppercase;
        }
    }
}
.icons {
    i {
    padding: 2px;
    span {
        font-family: "IBM Plex Mono", monospace;
        }
    }
}
.recipe-ing {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 1%;
            text-indent: -.7em;
        }
        li::before {
            content: "• ";
            color: $naranja;
        }
    }     
}
/*FIN CONTENIDO RECETA*/
